<!DOCTYPE html>

<!-- =============================================================== -->
<!-- admin_courses.html                                              -->
<!-- Author: Shannon Heh                                             -->
<!-- =============================================================== -->

<html lang="en">
  <head>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container" style="background-color: #e77500">
      <h1 style="text-align: center">Admin Course View</h1>
      <br />
    </div>

    <div class="container">
      <div id="accordion-dept">
        {% for dept in groups_by_dept %}
        <div class="card">
          <div class="card-header" id="header-{{dept}}">
            <h5 class="mb-0">
              <button
                class="btn btn-link"
                data-toggle="collapse"
                data-target="#collapse-{{dept}}"
                aria-controls="collapse-{{dept}}"
              >
                <div class="row">
                  <div class="col-sm">{{dept}}</div>
                  <div class="col-sm">
                    {{dept_course_data[dept]['num_courses_with_groups']}} /
                    {{dept_course_data[dept]['num_courses_total']}} Courses Have
                    Groups
                  </div>
                  <div class="col-sm">
                    {{dept_course_data[dept]['num_groups']}} Groups
                  </div>
                  <div class="col-sm">
                    {{dept_course_data[dept]['num_unique_students']}} Students
                  </div>
                </div>
              </button>
            </h5>
          </div>

          <div
            id="collapse-{{dept}}"
            class="collapse"
            aria-labelledby="heading-{{dept}}"
            data-parent="#accordion-dept"
          >
            <div class="card-body">
              <table class="table table-striped">
                <tbody>
                  {% for classnum in groups_by_dept[dept] %}
                  <tr
                    data-toggle="collapse"
                    data-target="#demo-{{dept}}-{{classnum}}"
                    class="accordion-toggle"
                  >
                    <td>{{classnum}}</td>
                    <td>
                      {{dept_course_data[dept]['courses'][classnum]['title']}}
                    </td>
                    <td>
                      {{dept_course_data[dept]['courses'][classnum]['num_unique_students']}}
                      Students
                    </td>
                    <td>
                      {{dept_course_data[dept]['courses'][classnum]['num_groups']}}
                      Groups
                    </td>
                    <td>
                      {% if
                      dept_course_data[dept]['courses'][classnum]['num_groups']
                      > 0 %}
                      <button class="btn btn-default btn-xs" style="padding: 0">
                        +
                      </button>
                      {% endif %}
                    </td>
                  </tr>
                  <tr>
                    <td
                      colspan="6"
                      class="hiddenRow"
                      style="padding: 0 !important"
                    >
                      <div
                        id="demo-{{dept}}-{{classnum}}"
                        class="accordian-body collapse"
                      >
                        {% for group_id in groups_by_dept[dept][classnum] %}
                        <div>
                          Group {{group_id}}: {% for netid in
                          groups_by_dept[dept][classnum][group_id] %} {{netid}},
                          {% endfor %}
                        </div>
                        {% endfor %}
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <br />
    <br />

    {% include 'footer.html' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  </body>
</html>
