<div class="row justify-content-center py-5 px-2"
     style="background-color:bisque; margin:0; padding:0; height:100%">
    <div class="row">
        <div class="container pt-0 pb-5">
            <center>
                <h1>We're so glad you're here!</h1>
                Would you benefit from meeting with a peer to help keep you accountable as you
                pursue your goals and aspirations? Do you want to offer supportive accountability to
                a fellow student? Check out the
                <a href="https://mcgraw.princeton.edu/undergraduates/programs/study-partners"
                   target="_blank">McGraw Center's Study Partners program</a> to learn
                more!
            </center>
        </div>
    </div>
    <div class="row px-5">
        <div class="col-md-4 pb-4">
            <div
                 style="border:2px; border-style:solid; border-color:grey; border-radius: 1vw; padding: 1em;">
                <center>
                    <h3>Step 1</h3><br>Start by searching above for the classes you are taking. Find
                    your classes!<br>
                </center>
            </div>
        </div>
        <div class="col-md-4 pb-4">
            <div
                 style="border:2px; border-style:solid; border-color:grey; border-radius: 1vw; padding: 1em;">
                <center>
                    <h3>Step 2</h3><br>Click on the "Join" button to join a group. You'll be
                    instantly placed into a group and we will send you an email with your partnering
                    details.
                </center>
            </div>
        </div>
        <div class="col-md-4 pb-4">
            <div
                 style="border:2px; border-style:solid; border-color:grey; border-radius: 1vw; padding: 1em;">
                <center>
                    <h3>Step 3</h3><br>Find a time that suits your group, and start studying
                    together. Be sure to follow course policies on collaboration!<br>
                </center>
            </div>
        </div>
    </div>
</div>