<div class="row justify-content-center py-5 px-2"
     style="background-color:bisque; margin:0; padding:0; height:100%">
    <div class="row">
        <div class="container pt-0 pb-5">
            <center>
                <h1>We're so glad you're here!</h1>
                Would you benefit from meeting with a peer to help keep you accountable as you
                pursue your goals and aspirations? Do you want to offer supportive accountability to
                a fellow student? Check out the
                <a href="https://mcgraw.princeton.edu/undergraduates/programs/study-partners"
                   target="_blank">McGraw Center's Study Partners program</a> to learn
                more!
            </center>
        </div>
    </div>
    <div class="row px-5">
        <div class="col-md-4 pb-4">
            <div
                 style="border:2px; border-style:solid; border-color:grey; border-radius: 1vw; padding: 1em;">
                <center>
                    <h3>Step 1</h3><br>Search for any course above. Note that some courses are disabled due to an instructor or department request.<br>
                </center>
            </div>
        </div>
        <div class="col-md-4 pb-4">
            <div
                 style="border:2px; border-style:solid; border-color:grey; border-radius: 1vw; padding: 1em;">
                <center>
                    <h3>Step 2</h3><br>Click on the "Join" button to join a group. If the course has been approved for study groups, you'll be placed into a group immediately and we'll send you an email with your partners' details. Otherwise, we'll let you know the moment the course is approved.<br>
                </center>
            </div>
        </div>
        <div class="col-md-4 pb-4">
            <div
                 style="border:2px; border-style:solid; border-color:grey; border-radius: 1vw; padding: 1em;">
                <center>
                    <h3>Step 3</h3><br>Communicate with your study group to find a suitable time. Be sure to follow course collaboration policies!<br>
                </center>
            </div>
        </div>
    </div>
</div>